<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <!-- 管理者判定 -->
  <% if current_user.admin? && !current_user?(user) %>
  <!-- 管理者が他のユーザーを削除するリンクの生成 -->
  <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
</li>